<header class="header-nav">
    <div class="toggle-bouton">
        <button class="burger">  <span></span></button>
    </div>
    <div class="nav--gauche">
<a href="/">
<img 
width="40"
height="40"
loading="lazy"
src="{{ product.metafields.headerlogo.image_personnalisee | img_url: '400x400' }}" 
alt="Image personnalisée"
/>
</a>
    </div>
    <div class="nav--mid">

    <ul>

    {% for link in linklists['main-menu'].links %}
    <li> {{ link.title |  link_to: link.url }}</li>
    {% endfor %}
    
    </ul>
    </div>
    <div class="nav--droite">
       
        <form action="/search">
        <input class="search--nav" placeholder="search" type="search">
        <button class="search-btn" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </form>
        <a href="/cart" class="cart--nav">
        <img 
        width="40"
        height="40"
        loading="lazy"
        src="{{ product.metafields.headerlogo.image_personnalisee | img_url: '400x400' }}" 
        alt="Image personnalisée"
    />
        </a>
 
    </div>
 <div>



    </div>
</header>   
<script>
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.nav--mid ul');
    const navLinks = document.querySelectorAll('.nav--mid ul li');
    burger.addEventListener('click', () => {
        nav.classList.toggle('nav-active');
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = '';
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
            }
        });
        burger.classList.toggle('active');
    });
    function navLinkFade() {
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = '';
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
            }
        });
    }
    navLinkFade();
</script>

+ 0.5}s`;
            }
        });
    }
    navLinkFade();
</script>

