<header class="header-nav">
    <div>
<a href="/">
<img 
width="200"
height="200"
loading="lazy"
src="{{ LiquidSolution-Logo-Black.png | asset_url }}" alt="">
</a>
    </div>
    <div>

    <ul class="nav">

        {% for link in linklist['main-menu'].links %}
        <li> {{ link.title | link_to: lnik.url }}</li>
        {% endfor %}
    </ul>
    </div>
    <div>

    </div>
</header>