.header-nav{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 30px 0 30px;
    background-color: white;
    max-width: $standard-max-width;
    margin: 0 auto;
}
.nav--mid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.nav--mid ul{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 0;
 
   
}
.cart--nav{
    margin-left: 20px;
}
.nav--mid li{
   padding: 10px;
    list-style: none;
 
}
.nav--mid a{
   color: black;
    text-decoration: none;
  
 }
.nav--mid a:hover{
    color: #ff6f61;
    text-decoration: none;
}
.nav--droite{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.search--nav{
    padding: 10px;
  
    border-radius: 10px;
    border: none;
    background-color: beige;
}
.toggle-bouton{
    display: none;
}
@media screen and (max-width: 768px){
    .header-nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;


    }
    .nav--gauche, 
    .nav--droite{
        display: flex;
        margin: 0;
    }
  
  .nav--mid{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
   z-index: -1;
    width: 100%;
    height: 50vh;
  }
    .nav--mid ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
       
        text-align: center;
    }
 
    .nav--mid li{
        padding: 10px;
        list-style: none;
        margin: 0;
        
    }
    .nav--mid a{
        color: black;
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
    }
   .nav--gauche img{
         width: 180px;
         height: auto;
   }

    .nav--mid ul{
        display: none;
   }
 .nav--droite{
    margin-left: auto;
 }

 

 
  
   .nav-active{
    display: block !important;
    }
   .toggle-bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
    width: 58px;

}
.search--nav{
    display: none;
}

.burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    width: 28px;
    height: 20px;
    transition:  all 250ms ease-out;
    cursor: pointer;
    margin-top: 10px;
}
.burger:before,
.burger:after,
.burger span{
    content: "";
    width:40px;
    height:2px;
    position: absolute;
    background-color: #000000;
    transition: all 250ms ease-out;
    will-change: transform;

}
.burger:before{
    background-color: rgb(0, 0, 0);
    transform: translateY(-10px);
}

.burger:after{
    background-color: rgb(0, 0, 0);
    transform: translateY(10px);
}
.burger span {
    background-color: rgb(0, 0, 0);
    transform: translateX(0); /* Position initiale */
}
.active.burger:before{
  
    transform: translateY(0px) rotate(45deg);
}
.active.burger:after{
   
    transform: translateY(0px) rotate(-45deg);
}
.active.burger span {
    transform: translateX(-50px); /* Décale vers la gauche */
    opacity: 0; /* Disparait progressivement */
}

}
/* Barre de recherche pour le desktop */
.search--nav {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: beige;
    display: inline-block;
    width: 200px;
  }
  
  /* Icône de recherche, cachée sur desktop */
  .search-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-btn svg {
    fill: none;
    stroke: black;
  }
  
  /* Media query pour les écrans de moins de 768px */
  @media screen and (max-width: 768px) {
    /* Cache la barre de recherche sur mobile */
    .search--nav {
      display: none;
    }
  
    /* Affiche l'icône de recherche sur mobile */
    .search-btn {
      display: inline-block;
    }
  }
  