@charset "UTF-8";
/**
* @author Prenom Nom courriel
*/
/** Polices de caractères **/
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/**
 * @author Esteban Henry
**/
.black-bg {
  background-color: black;
}

.toggle-bouton {
  display: none;
}

* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgMobile {
  display: none;
}

.entete {
  color: black;
  margin-top: 42px;
  transform: translateY(-15px);
  border-bottom: 1px solid black;
  height: 68px;
  z-index: 100;
}

.menu__liste li:nth-last-of-type(3) {
  margin-left: auto;
}

.menu {
  opacity: 1;
  max-height: 100%;
  transform: none;
  top: 0px;
  left: 0px;
  text-align: left;
  max-width: 1440px;
  padding: 0 24px;
  display: block;
  height: 100%;
  margin: 0px auto;
  width: 100%;
  z-index: 100;
}

.menu__lien {
  z-index: 100;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

.menu__listeItem {
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu__liste {
  transform: none;
  display: flex;
  gap: 4rem;
  margin: 0px;
  height: 100%;
  align-items: center;
  padding: 24px;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: inherit;
  width: 100%;
  top: 0;
  left: 0px;
  position: absolute;
}

.logo img {
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}

.icon {
  font-size: 1.5rem;
}

.icon {
  width: 20px;
}

.menu-item {
  width: 30px;
  height: 30px;
}

@media (max-width: 800px) {
  .mobile--search {
    display: block;
  }
  .menu {
    padding: 25px;
  }
  .menu__liste li:nth-last-of-type(3) {
    margin-left: 0px;
    position: absolute;
    top: 10px;
    justify-content: flex-end;
  }
  .menu__liste li:nth-last-of-type(2) {
    margin-left: 0px;
    top: 25px;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
  }
  .site-nav__link {
    display: none;
  }
  .cart {
    position: absolute;
    top: -315px;
  }
  .menu__liste li:nth-last-of-type(1) {
    margin-left: 0px;
    position: absolute;
    top: 40px;
    justify-content: flex-end;
    width: 100%;
    display: flex;
  }
  .entete {
    border-bottom: none;
  }
  .logo {
    position: absolute !important;
    top: -330px;
  }
  .hidin {
    display: none;
  }
  .bgMobile {
    display: block;
    background-color: #1c1b1b;
    height: 0vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
  }
  .menu__liste {
    display: none;
  }
  .menu__lien {
    font-size: 1.5rem;
    display: none;
  }
  .menu__listeItem {
    display: none;
  }
  .logo img {
    width: 160px;
    top: 60px;
  }
  .entete {
    height: 115px;
    margin-top: 15px;
  }
  .icon {
    font-size: 1.2rem;
  }
  .cart-search {
    width: 100px;
  }
  .menu-item {
    color: white;
    width: 55px;
    height: 55px;
  }
  .visible {
    display: flex !important;
  }
  .hidden {
    display: none !important;
  }
  .toggle-bouton {
    display: flex;
  }
  .burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75em 2em 1.5em 0.2em;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    width: 28px;
    height: 20px;
    transition: all 250ms ease-out;
    cursor: pointer;
    margin-top: 10px;
  }
  .burger:before,
  .burger:after,
  .burger span {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: #000000;
    transition: all 250ms ease-out;
    will-change: transform;
  }
  .burger:before {
    background-color: white;
    transform: translateY(-10px);
  }
  .burger:after {
    background-color: white;
    transform: translateY(10px);
  }
  .burger span {
    background-color: white;
    transform: translateX(0); /* Position initiale */
  }
  .active.burger:before {
    transform: translateY(0px) rotate(45deg);
  }
  .active.burger:after {
    transform: translateY(0px) rotate(-45deg);
  }
  .active.burger span {
    transform: translateX(-50px); /* Décale vers la gauche */
    opacity: 0; /* Disparait progressivement */
  }
  .menu__liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    gap: 1em;
    left: 0;
    right: 0;
    top: 300px;
  }
  .menu__lien {
    font-size: 4em;
    font-weight: 1000;
    color: white;
    text-decoration: none;
    transition: all 250ms ease-out;
    cursor: pointer;
  }
  .char {
    opacity: 0;
  }
  .menu__listeItem {
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
  }
  .menu__liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
  }
  .entete {
    position: sticky;
    top: 0;
  }
}
.hidin {
  display: block;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
  top: 0;
}

.scroll-up header {
  top: 0;
}

header {
  transition: 0.3s;
  position: fixed;
}

@media (min-width: 800px) {
  .menu__liste {
    height: 113%;
  }
  .logo {
    top: 25%;
  }
  .entete {
    position: sticky;
    top: 0;
    height: 108px;
  }
  .menu__liste li:nth-last-of-type(2) {
    list-style: none;
  }
}/*# sourceMappingURL=styles.css.map */