/**
* @author Prenom Nom courriel
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuMoyen: #358ae0;
$bleuPale: #68a8e8;
$vertLime: #bbd531;
$bleuMinuit: #012d61;
$bleuMarin: #2678B5;

$bleuMoyenTransparent : transparentize($bleuMoyen, 0.50);

/* Autres couleurs */


/** Points de rupture **/
$desktop : 601px;

$standard-max-width: 1740px;
$side-padding:24px;
$background-image: url("../images/imagetest2.jpg");
$title-size:clamp(5em, 7.5vw, 7.5em);
$col-gap:calc(var(--title-size)* 0.3);
$row-gap:calc(var(--title-size)* 0.3);

